*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),url(PASS\ CHICréteil.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: blue;
    border-radius: 50% 0% 50% 0%;
    transform: scaleX(1.1);
    z-index: -2;
}

.logo{
    width: 70px;
    position: absolute;
    top: 3%;
    left: 10%;
}
.banner-text{
    text-align: center;
    color: blue;
    padding-top: 350px;
}
.banner-text h1{
   font-size:  50px;
   font-family: Arial, Helvetica, sans-serif;
}
.banner-text p{
   font-size: 20px;
   font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
    z-index: 2;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 12px 0;
    color: blue;
    border: 0.5px solid blue;
    border-radius: 25%;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    top: 0;
    left: 0;
    background: blue;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}